*.log
.husky
.vscode
.idea
.github

.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

node_modules/
**/dist
**/assets
**/node_modules
**/coverage
**/test-reports
**/cdk.out
