.idea
.git
.github
*.log
.husky
.vscode
.dockerignore
README.md
.DS_Store
Dockerfile

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

**/dist
**/assets
**/node_modules
**/coverage
**/test-reports
**/cdk.out
