*.log
**/dist/
**/cdk.out/**
**/node_modules/**
**/.prettierrc
.husky
.vscode
**/test**
**/LICENSE**
**/README**
**/jest.config.js
**/coverage
**/Dockerfile

packages/installer/images
packages/installer/policies

packages/eks/.env
packages/eks/cdk.context.json